* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
}

body {
  background-image: url(../img/bg/contact-bg.png);
  background-size: cover;
  background-position: top;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

/* navbar start */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  padding-right: 100px;
}

#navbar h2 {
  color: white;
  letter-spacing: 3px;
}

#navbar .navbar-nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

#navbar .navbar-nav a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.content .column {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 70vh;
  gap: 4rem;
  justify-content: center;
}
.content .column > .row-1 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.content .column > .row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content .column > .row-2 .card-contact {
  background-color: rgba(255, 255, 255, 0.311);
  width: 50vw;

  padding: 1.5rem 3rem;
  border-radius: 2rem;
  position: relative;
  color: #fff;
  font-size: 0.95rem;
}

.content .column > .row-2 .card-contact .row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content .column > .row-2 .card-contact .row-1 p {
  font-size: 0.8rem;
}

.content .column > .row-2 .card-contact .row-1 a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1.3rem;
  width: max-content;
  padding: 0.5rem 1rem;
  text-align: center;
}

.content .column > .row-2 .card-contact .row-2 {
  text-align: left;
  margin-top: 1rem;
}

.content .column > .row-2 .card-contact .row-2 h2 {
  font-size: 2rem;
}

.content .column > .row-2 .card-contact .row-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.content .column > .row-2 .form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30vw;
}

.content .column > .row-2 .form form input {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2rem;
}

.content .column > .row-2 .form form input::placeholder {
  color: #fff;
}
.content .column > .row-2 .form form .pesan {
  padding: 2rem;
}

.content .column > .row-2 .form form .nama {
  padding: 0.8rem;
}
.content .column > .row-2 .form form .mail {
  padding: 0.8rem;
}

.content .column > .row-2 .form form .btn {
  width: 5rem;
  padding: 0.5rem;
  color: #fff;
}

@media (max-width: 1600px) and (min-width: 1200px) {
  html {
    font-size: 80%;
  }
}
