* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
}

body {
  background-image: url(/img/bg/abvout.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  display: none;
}

/* navbar start */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  padding-right: 100px;
}

#navbar h2 {
  color: white;
  letter-spacing: 3px;
}

#navbar .navbar-nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

#navbar .navbar-nav a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

/* navbar end*/

/* content start */

.content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  gap: 1.5rem;
}

.content p {
  color: #fff;
}

.content .title {
  font-size: 2rem;
}

.content .text {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 100;
}

/* content end */

/* footer */

footer {
  color: #fff;
  padding-left: 5rem;
  font-weight: 300;
}

footer p {
  font-size: 1.3rem;
}

/* media query */

@media (max-width: 768px) {
  body {
    background-image: url(/img/bg/abvout\ landscape.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  #navbar .navbar-nav {
    display: none;
  }

  .content {
    padding: 2rem;
  }

  .content .title {
    font-size: 1.5rem;
  }

  .content .text {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 100;
  }

  footer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  html {
    font-size: 80%;
  }
}
